doctype html
html
  head
    title= 'API Rest ionic'
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon') 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
